{% extends "main.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <div class="form-horizontal d-flex justify-content-center align-items-center">
    <div class="jumbotron shadow-sm px-5 py-5">
        <div class="d-flex justify-content-center flex-column align-items-center">
            <p> Ваш аккаунт создан. Для ввода дополнительной информации войдите в профиль</p>
            <a href="{% url 'login' %}">Войти</a>
{#                <p>Аккаунт успешно создан. Теперь вы можете войти. <a href="{% url "login" %}">Войти</a>.</p>#}
        </div>
    </div>
    </div>

{% endblock %}