{% extends "main.html" %}
{% block title %}
    Главная
{% endblock %}
{% block content %}
    <div class="container">
        <div class="card bg-dark text-white">
            <img class="card-img" src="/static/images/main.jpg" style="height: 300px; width: 100%; object-fit: cover; filter: brightness(40%)">
            <div class="card-img-overlay">
                <h1 class="card-text">"Все для стройки" - незаменимый магазин для покупки стройматериалов.</h1>
                <h1 class="card-text">Вы делаете ремонт? Вы строите дом? Тогда вы пришли по адресу!</h1>
            </div>
        </div>
    </div>
{% endblock %}